@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    var roles = User.FindAll(ClaimTypes.Role);
    var roleNames = roles.Select(r => r.Value);
    var rolesText = string.Join(", ", roleNames);

    <ul class="nav-item">
        <form method="post" asp-controller="Account" asp-action="LogOut">
            <button type="submit" style="width:auto;line-height:1px; background-color:transparent;border-color:transparent;">
                <p>Usuario: @User.Identity.Name </p>
                <p>Cargo: @rolesText</p>
                <p>Sair</p>

            </button>
        </form>
    </ul>
}
else
{

    <div class="account">
        <a asp-controller="Account" asp-action="Login" class="btn_entrar" style="">Entrar</a>
        <p class="ou" style="">ou</p>
        <a asp-controller="Account" asp-action="Register" class="btn_cadastrar">Cadastrar</a>
    </div>
}