@model PousadaIdentity.Entities.Reserva
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckUp" class="control-label"></label>
                <input asp-for="CheckUp" class="form-control" />
                <span asp-validation-for="CheckUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataReservada" class="control-label"></label>
                <input asp-for="DataReservada" class="form-control" />
                <span asp-validation-for="DataReservada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotalReserva" class="control-label"></label>
                <input asp-for="ValorTotalReserva" class="form-control" />
                <span asp-validation-for="ValorTotalReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuartoID" class="control-label"></label>
                <select asp-for="QuartoID" class ="form-control" asp-items="ViewBag.QuartoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <input asp-for="PessoaId" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetInt32("SessionPessoaId")"></input>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
