body {
   /* background-image: url('../Imagens/palimar 1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;*/
}

.container_inicio{
    width: 100%;
}

@media (min-width: 1200px){
    .img_boas_vindas {
        width: 90%;
        height: 90%;
        padding-bottom: 5rem;
    }
}

@media (min-width: 1500px) {
    .img_boas_vindas {
        width: 80%;
        height: 80%;
        padding-bottom: 5rem;
    }
}

@media (max-width: 1199px){
    .img_boas_vindas {
        width: 100%;
        height: 90%;
       /* height: 50.5rem; */
        padding-bottom: 5rem;
    }
}
